/*  Homepage script */
/* Last Updated 30 Sep */

* {
margin: 0px;
padding: 0px;
}

body {
background-color: rgb(238, 237, 237);
}

/* loading sectio */
#load-box {
width: 100%;
height: 700px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
position: absolute;
background-color: rgb(255, 255, 255);
z-index: 50;
position: fixed;
} 


/* Top box section */
.topbox {
width:100%;
height: 100px;
border-bottom: 3px rgb(208, 206, 206) solid;
margin-bottom: 1px;
background-image: linear-gradient(to right, rgb(246, 243, 243), rgb(212, 207, 207));
}

.logimg {
position: absolute;
width: 250px;
margin-top: 10px;
margin-left: 20px;
}

/* SERVER SOFTWARE SECTION */
.server-soft-box {
position: absolute;
width: 190px;
height: 30px;
border: 2px rgb(187, 185, 185) solid;
background-color: #F9F9F9;
margin-left: 320px;
margin-top: 45px;
border-radius: 5px;
}

.ser-soft-img {
width: 32px;
margin-top: 5px;
margin-left: -15px;
}

#ser-soft-head {
position: absolute;
font-weight: bold;
color: grey;
margin-top: -35px;
font-size: 14px;
margin-left: 25px;
font-family: 'Poppins', sans-serif;
}

#ser-soft-text {
position: absolute;
font-weight: bold;
margin-top: -34px;
font-size: 13px;
margin-left: 84px;
font-family: 'Poppins', sans-serif;
}

#ser-soft-text:hover {
text-decoration: underline;
cursor: pointer;
}

/* SERVER SOFTWARE SECTION */
/* HOSTNAME SECTION */
.ipaddress-box {
position: absolute;
width: 190px;
height: 30px;
border: 2px rgb(187, 185, 185) solid;
margin-left: 550px;
background-color: #F9F9F9;
margin-top: 45px;
border-radius: 5px;
}

.ser-ip-soft-img {
width: 23px;
margin-top: 5px;
margin-left: -8px;
}

#ser-ip-soft-head {
position: absolute;
font-weight: bold;
color: grey;
margin-top: -36px;
font-size: 14px;
margin-left: 25px;
font-family: 'Poppins', sans-serif;
}

#ser-ip-soft-text {
position: absolute;
font-weight: bold;
margin-top: -36px;
font-size: 13px;
margin-left: 70px; 
font-family: 'Poppins', sans-serif; 
}
#ser-ip-soft-text:hover {
text-decoration: underline;
cursor: pointer;
}
/* HOSTNAME SECTION */

/* USERNAME SECTION */
.username-box {
position: absolute;
width: 190px;
height: 30px;
border: 2px rgb(187, 185, 185) solid;
margin-left: 780px;
margin-top: 45px;
background-color: #F9F9F9;
border-radius: 5px;
}

.ser-user-soft-img {
width: 33px;
margin-top: 5px;
margin-left: -15px;
}

#ser-user-soft-head {
position: absolute;
font-weight: bold;
color: grey;
margin-top: -36px;
font-size: 14px;
font-family: 'Poppins', sans-serif;
margin-left: 25px;
}

#ser-user-soft-text {
position: absolute;
font-weight: bold;
margin-top: -35px;
font-size: 13px;
margin-left: 67px; 
font-family: 'Poppins', sans-serif;
}

#ser-user-soft-text:hover {
text-decoration: underline;
cursor: pointer;
}

/* top buttons */

.top-btn {
background-color: #7FBCD2;
color: white;
border: none;
font-size: 16px;
cursor: pointer;
border-radius: 5px;
font-weight: bold;
transition: 0.5s;
}

.top-btn:hover {
background-color: #3d92b1;
box-shadow: 3px 3px 10px 1px #F9F9F9;
}

#home_btn {
position: absolute;
right: 270px;
top: 40px;
width: 90px;
padding: 10px;
font-family: 'Lato', sans-serif;
}

#user_btn {
position: absolute;
right: 115px;
top: 40px; 
width: 150px;  
padding: 10px;
font-family: 'Lato', sans-serif;
}

#logout_btn {
position: absolute;
right: 10px;
top: 40px;  
padding: 10px;
width: 100px;  
font-family: 'Lato', sans-serif;
}
#logout_btn:hover {
background-color: #ea0909;
box-shadow: 3px 3px 10px 1px #F9F9F9;
}





/* MAIN BOX WRAPPER */
.main-wrapper {
display: flex;
flex-direction: row;
justify-content: flex-start;
}

/* SIDE BAR SECTION */
.sidebox {
width: 20%;
margin-right: 1px;
margin-top: 1px;
min-height: 600px;
border-top: 3px rgb(195, 192, 192) solid;
border-right: 3px rgb(195, 192, 192) solid;
background-image: linear-gradient(to right, rgb(246, 243, 243), rgb(212, 207, 207));  
padding-bottom: 20px; 
}



/* Database conatiner */
.database-container {
margin-top: 25px;
}

/* Database show box */
.database-box {
width: 90%;
min-height: 30px;
margin-top: 7px;
margin-left: 10px;
background-color: rgb(226, 247, 226);
border: 2px rgb(235, 245, 232) outset;
padding: 1px;
border-radius: 5px;
box-shadow: 0px 0px 3px rgb(193, 203, 190);
padding-bottom: 5px;
}

.database-text-cum-btn {
border: none;
font-size: 16px;
word-break: break-all;
color: #262525;
padding: 3px;
margin-left: 35px;
cursor: pointer;
font-family: 'Nunito', sans-serif;
background-color: rgb(226, 247, 226);
text-align: left;
display: inline-block;
}
.database-text-cum-btn:hover {
    text-decoration: underline;
    color: #3b49df;
}

/* *Togle button */
.db-togle-btn-show {
position: absolute;
font-size: 13px;
margin-left: 15%;
margin-top: 10px;
background-color: rgb(226, 247, 226);
border: none;
border-radius: 10%;
cursor: pointer;
color: grey;
padding-top: 5px;
padding-bottom: 5px;
}
.db-togle-btn-show:hover {
    text-decoration: underline;
}

.db-togle-btn-hide {
position: absolute;
font-size: 13px;
margin-left: 15%;
margin-top: 10px;
background-color: rgb(226, 247, 226);
border: none;
border-radius: 10%;
cursor: pointer;
color: grey;
padding-top: 5px;
padding-bottom: 5px;
display: none;
/* By default it will off */
}
.db-togle-btn-hide:hover {
    text-decoration: underline;
}


/* FA FA DB BOX AND TABLE BOX */
.fa-database {
position: absolute;
color: rgb(59, 92, 202);
font-size: 16px;
cursor:pointer; 
margin-top: 8px;
margin-left: 10px;
display: block;
width: 15px;
}

/* One button will off */
.fa-angle-down {
color: rgb(37, 35, 35);
font-size: 20px; 
margin-top: 0px;
display: none;
}

/* One button will off */
.fa-angle-up  {
color: rgb(37, 35, 35);
font-size: 25px;
margin-top: 0px;
display: none;
}

.fa-table {
position: absolute;
color: rgb(59, 92, 202);
font-size: 16px;
cursor:pointer; 
margin-top: 8px;
margin-left: 10px;
display: block;
width: 15px;
}

/* Table box */
.table-hider {
transition-duration: 2.0s;
transition-timing-function: ease-in-out;
display: none;
/* By default it will off */
}

.table-box {
width: 75%;
min-height: 30px;
margin-top: 6px;
margin-left: 18%;
background-color: rgb(226, 247, 226);
border: 2px rgb(235, 245, 232) outset;
padding: 1px;
border-radius: 5px;
box-shadow: 0px 0px 3px rgb(193, 203, 190);
}

.table-text {
width: 80%;
font-size: 14px;
word-break: break-all;
color: #262525;
padding: 3px;
margin-top: 3px;
margin-left: 35px;
cursor: pointer;
display: inline-block;
font-family: 'Nunito', sans-serif;
}

.table-text:hover {
    text-decoration: underline;
    color: #3b49df;
}

/* to enable click on table link | button */
.table-text-cum-btn {
border: none;
font-size: 16px;
word-break: break-all;
color: #262525;
padding: 3px;
margin-left: 0px;
cursor: pointer;
font-family: 'Nunito', sans-serif;
background-color: rgb(226, 247, 226);
text-align: left;
display: inline-block;
}
.dtable-text-cum-btn:hover {
text-decoration: underline;
color: #3b49df;
}








/* MAINBOX */
.mainbox {
display: flex;
flex-direction: row;
min-height: 600px;
width: 80%;
margin-left: 1px;
margin-top: 1px;
min-height: 600px;
border-top: 3px rgb(195, 192, 192) solid;
border-left: 3px rgb(195, 192, 192) solid;
background-image: linear-gradient(to right, rgb(199, 196, 196), rgb(235, 230, 230));
}

.database-table {
width: 50%;
margin: 20px;
margin-top: 30px;
min-height: 200px;
background-color: rgb(199, 197, 197);
border: 2px rgb(235, 245, 232) outset;
padding-bottom: 15px;
}

#createdb-btn {
width: 250px;
height: 45px;
background-color: #7FBCD2;
border: none;
color: white;
border-radius: 5px;
float: right;
margin: 15px;
font-size: 15px;
cursor: pointer;
transition: 0.5s;
font-family: 'Lato', sans-serif;
}

#createdb-btn:hover {
background-color: #3d92b1;
box-shadow: 2px 2px 5px 1px #eae8e8; 
}



/* DATABASE LIST BOX */
.db-list-bx {
width: 96%;
min-height: 45px;
border: 2px rgb(231, 227, 227) inset;
float: left;
padding-bottom: 5px;
word-wrap: break-word;
margin-top: 10px;
margin-left: 8px;
background-color: rgb(227, 223, 223);
}

/* Database name */
.db-list-txt {
margin-left: 10px;
font-size: 20px;
margin-top: 10px;
width: 60%;
font-family: 'Open Sans', sans-serif;
color: rgb(96, 108, 113);
display: inline-block;
}

/* box contain boith buttons */
.db-list-btn-container {
float: right;
}

/* Database rename button */
.db-list-edit-btn {
display: none;
background-color: #7FBCD2;
border: none;
font-family: 'Lato', sans-serif;
color: white;
border-radius: 5px;
width: 85px;
height: 30px;
font-size: 14px;
cursor: pointer;
margin-top: 10px;
transition: 0.5s;
}

.db-list-edit-btn:hover {
background-color: #3d92b1;
box-shadow: 2px 2px 5px 1px #e0e7eb;
text-decoration: underline;
}

/* Database delete button */
.db-list-delete-btn {
background-color: #7FBCD2;
border: none;
font-family: 'Lato', sans-serif;
color: white;
border-radius: 5px;
width: 80px;  
margin-top: 10px;
margin-right: 5px;
border-radius: 5px;
height: 30px;
font-size: 14px;
cursor: pointer;
transition: 0.5s; 
}

.db-list-delete-btn:hover {
background-color: #3d92b1;
box-shadow: 2px 2px 5px 1px #e0e7eb;
text-decoration: underline;
}

/* Database browse button */
.db-list-open-btn {
background-color: #7FBCD2;
border: none;
font-family: 'Lato', sans-serif;
color: white;
border-radius: 5px;
width: 80px;  
margin-top: 10px;
border-radius: 5px;
height: 30px;
font-size: 14px;
margin-right: 5px;
cursor: pointer;
transition: 0.5s; 
}

.db-list-open-btn:hover {
background-color: #3d92b1;
box-shadow: 2px 2px 5px 1px #e0e7eb;
text-decoration: underline;
}

/* FA FA SECTION */
.fa-pencil {
    margin-right: 3px;
}
.fa-trash {
    margin-right: 3px;
}
.fa-sign-in {
    margin-right: 3px;
}






/* SOFT INFO TABLE */
.soft-info {
width: 40%;
min-height: 530px;
margin: 20px;
margin-top: 30px;
background-color: rgb(199, 197, 197);
border: 2px rgb(235, 245, 232) outset;
padding-bottom: 15px;
padding-left: 3px;
padding-right: 3px;
box-shadow: 5px 5px 4px rgb(167, 165, 165);
}

.soft-text-heading {
padding: 10px;
text-align: center;
background-color: rgb(199, 197, 197);
font-size: 17px;
margin-bottom: 10px;
font-family: 'Lato', sans-serif;
border-bottom: 1px rgb(156, 152, 152) dotted;
} 

.soft-info-tre {
margin: 5px;
border: 1px rgb(174, 165, 165) solid;
} 

/* Cell heading */

.soft-info-tde-head {
height: 30px;
width: 115px; 
padding-left: 10px;
padding-top: 3px;
padding-bottom: 3px;
padding-right: 10px;
margin: 3px;
background-color: rgb(242, 246, 251);
font-family: 'Lato', sans-serif;
font-size: 13px;
color: rgb(100, 99, 99);
}

/* Cell values */
.soft-info-tde {
height: 30px;
width: 265px; 
padding-left: 10px;
padding-top: 3px;
padding-bottom: 3px;
padding-right: 5px;
margin: 3px;
background-color: rgb(242, 246, 251);
font-family: 'Lato', sans-serif;
font-size: 13px;
color: rgb(100, 99, 99);
}

.soft-info-f-text {
float: right;
font-size: 13px;
font-family: 'Lato', sans-serif;
font-size: 13px;
margin-top: 20px;
margin-right: 10px;
color: rgb(100, 99, 99);
padding-left: 15px;
padding-right: 15px;
padding-bottom: 10px;
}






/* CREATE NEW DATABASE DAILOG UI */

/* this will show transparent black cover only */
/* create new database backgrond-box */
.cndb-wrapper {
position:fixed;
top: 0px;
left: 0px;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.584);
display: none; /* display control */
}

/* create new database background back background box */
.cndb-box-bk {
position:fixed;
top: 0px;
left: 0px;
width: 100%;
height: 600px;  
display: flex;
flex-direction: row;
justify-content: center;
align-items: center; /* display control */
display: none;
}

/* create database UI box */
#cndb-dbx {
width: 400px;
height: 200px;
background-image: linear-gradient(to right, rgb(223, 222, 222), rgb(212, 207, 207));
border: 2px rgb(235, 245, 232) outset;
border-radius: 5px;
transition-duration: 0.5s;
transition-property: transform;
transform: scale(120%,120%);
}

/* create database-close button */
#close-cndb {
width: 40px;
height: 40px;
border-radius: 20%;
background-color: red;
border: none;
margin: 5px;
float: right;
color: white;
cursor: pointer;
font-size: 18px;
transition: 0.5s;
}

#close-cndb:hover {
    background-color: rgb(241, 111, 111);   
}

/* create database tag heading text */
.cndb-headtext {
color: black;
margin-top: 15px;
font-size: 20px;
text-align: left;
padding-left: 15px;
font-family: 'Noto Sans', sans-serif;
border-bottom: 1px rgb(156, 152, 152) dotted;
user-select: none;
padding-bottom: 15px;
}

/* create database name input */
#cndb-txt-in {
width: 260px;
margin-top: 20px;
margin-left: 20px;
height: 25px;
padding: 5px;
outline: none;
border: none;
font-size: 13px;
transition-duration: 0.1s;
border-radius: 3px;
color: rgb(116, 115, 114);
font-family: 'Inter', sans-serif;
}

/* create database button */
#cndb-btn {
width: 200px;
height: 35px;
background-color: #7FBCD2;
border: none;
color: white;
float: right;
margin-right: 20px;
margin-top: 30px;
cursor: pointer;
border-radius: 5px;
transition: 0.5s;
font-family: 'Lato', sans-serif;
}
#cndb-btn:hover {
background-color: #3d92b1;
box-shadow: 2px 2px 5px 1px #eae8e8;  
}

/*  Its icon */
#fa-db-cndb-btn {
margin-left: -25px;
margin-top: 2px;
color: white;
}












/* DELETE DATABASE DAILOG UI */

/* this will show transparent black cover only */
/* detete database UI wrapper */
.db-del-wrapper {
position:fixed;
top: 0px;
left: 0px;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.584);
display: none;   
}

/* delete database background */
.db-del-box-bk {
position:fixed;
top: 0px;
left: 0px;
width: 100%;
min-height: 600px;  
display: flex;
flex-direction: row;
justify-content: center;
align-items: center; 
display: none; 
}

/* delete database UI box */
#db-del-dbx {
width: 370px;
min-height: 230px;
background-image: linear-gradient(to right, rgb(223, 222, 222), rgb(212, 207, 207));
border: 2px rgb(235, 245, 232) outset;
border-radius: 5px;
transition-delay: 0s;
transition-duration: 0.5s;
transition-property: transform;
transform: scale(100%,100%);
}

/* delete database-close button */
#close-db-del {
width: 40px;
height: 40px;
border-radius: 20%;
background-color: red;
border: none;
margin: 5px;
float: right;
color: white;
cursor: pointer;
font-size: 18px;
transition: 0.5s;
}

#close-db-del:hover {
    background-color: rgb(241, 111, 111);   
}

/* delete database heading-text */
.db-del-headtext {
color: black;
margin-top: 15px;
font-size: 20px;
text-align: left;
padding-left: 15px;
font-family: 'Noto Sans', sans-serif;
border-bottom: 1px rgb(156, 152, 152) dotted;
user-select: none;
padding-bottom: 15px;
}

/* delete database heading-warning-text */
.db-del-text {
width: 80%;
margin: 15px;
font-size: 15px;
word-wrap: break-word;
text-align: justify;
font-family: 'Nunito', sans-serif;
padding: 15px;
background-color: rgb(245, 247, 210);
}

/* delete database button */
#db-del-btn {
width: 200px;
height: 35px;
background-color: #7FBCD2;
border: none;
color: white;
float: right;
margin-right: 20px;
margin-bottom: 10px;
cursor: pointer;
border-radius: 5px;
transition: 0.5s;
font-family: 'Lato', sans-serif;
}
#db-del-btn:hover {
background-color: #3d92b1;
box-shadow: 2px 2px 5px 1px #eae8e8;    
}




/* RENAME DATABASE DAILOG UI */

/* this will show transparent black cover only */
/* rename database wrapper */
.db-rename-wrapper{
position:fixed;
top: 0px;
left: 0px;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.584);
display: none;
}

/* rename database UI background layer */
.db-rename-box-bk {
position:fixed;
top: 0px;
left: 0px;
width: 100%;
height: 600px;  
display: flex;
flex-direction: row;
justify-content: center;
align-items: center; /* display control */
display: none; 
}

/* rename database UI box */
.db-rename-dbx{
width: 400px;
height: 200px;
background-image: linear-gradient(to right, rgb(223, 222, 222), rgb(212, 207, 207));
border: 2px rgb(235, 245, 232) outset;
border-radius: 5px;
}

/* close rename database button */
#close-db-rename {
width: 40px;
height: 40px;
border-radius: 20%;
background-color: red;
border: none;
margin: 5px;
float: right;
color: white;
cursor: pointer;
font-size: 18px;
transition: 0.5s;
}

#close-db-rename:hover {
    background-color: rgb(241, 111, 111);   
}

/* rename database heading-text */
.db-rename-headtext {
color: black;
margin-top: 15px;
font-size: 20px;
text-align: left;
padding-left: 15px;
font-family: 'Noto Sans', sans-serif;
border-bottom: 1px rgb(156, 152, 152) dotted;
user-select: none;
padding-bottom: 15px;
}

/* rename database input */
#db-rename_new_name {
width: 260px;
margin-top: 20px;
margin-left: 20px;
height: 25px;
padding: 5px;
outline: none;
border: none;
font-size: 13px;
transition-duration: 0.1s;
border-radius: 3px;
color: rgb(116, 115, 114);
font-family: 'Inter', sans-serif;
}

/* rename database button */
#db-rename-btn {
width: 200px;
height: 35px;
background-color: #7FBCD2;
border: none;
color: white;
float: right;
margin-right: 20px;
margin-top: 30px;
cursor: pointer;
border-radius: 5px;
transition: 0.5s;
font-family: 'Lato', sans-serif;
}
#db-rename-btn:hover {
  background-color: #3d92b1;
box-shadow: 2px 2px 5px 1px #eae8e8;    
}